/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.list-container {
  width: 568px;
  height: 946px;
  margin: 20px auto;
  border: 0px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;

}

.list-item {
    width: 568px; 
    height: 136px; 
    padding: 20px 40px; 
    gap: 24px; 
    border-width: 1px 0px; 
    border-style: solid;
    border-color: #FFFFFF; 
    opacity: 0; 

  
  cursor: grab;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item-img {
 
  border-radius: 12px;
  object-fit: cover;
  margin-right: 12px;
  width: 96px;
  height: 96px;
  gap: 0px;
  opacity: 0px;
  
}

.list-item .content {
  display: flex;
  flex-grow: 1; 
}
.list-item .icon {
  width: 22px; 
  height: 22px;
  margin-right: 4px; 
  opacity: 0;
}

.list-item .title {
  font-size: 16px;
  font-weight: 500;
  size: 19px;
  width: 320px;
  height:24px;
  line-height: 24px;
  
  font-family: 'gelion', sans-serif;
   
  text-align: right;
}

.list-item .subtitle {
  font-size: 16px;
  font-family: 'gelion', sans-serif;
  font-weight: 400;
  padding: 0px 4px 0px 4px;
  line-height: 22px;
  size: 17px;
  width: 139px;
  height: 22px;
  gap:4px;
  color: #888;
  
 
}

.list-item.dragging {
    width: 288px;
    height: 64px;
    padding: 16px 0px 0px 0px;
    gap: 12px;
    border-radius: 8px 0px 0px 0px;
    border: 1px solid #0000001A; 
    box-shadow: 0px 8px 16px 0px #061F3014;
    opacity: 0;
  }
  

